Hi <%= @order.user.name %>, <br/>
        We have suuccessfully received your order. The details of the same are as follows. <br/><br/>
        
<p>
	<table>
		<tr>
			<th>Product Name</th>
			<th>Quantity</th>
			<th>Rate</th>
			<th>Total</th>
		</tr>
		<% @order.line_items.each do |li| %>
			<tr>
				<td><%= li.product.name %></td>
				<td><%= li.quantity %></td>
				<td><%= li.rate %></td>
				<td><%= li.total %></td>
			</tr>
		<% end %>
	</table>
</p>

<p>
  <b>Total price:</b>
  <%= @order.total_price %>
</p>

<p>
	For more details visit your order <a href="<%= url_for(:controller => "orders",
            :action => "show", :id => @order.id, :only_path => false,) %>"> here.</a>

</p>

<p> 
	Thank you.  
</p>

