<h1>Listing orders</h1>

<table>
  <tr>
  	<th>Order Id</th>
    <th>User</th>
    <th>Dispatch date</th>
    <th>Total price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
  	<td><%= order.id %></td>
    <td><%= order.user.name %></td>
    <td><%= order.dispatch_date %></td>
    <td><%= order.total_price %></td>
    <td><%= link_to 'Show', order %></td>
    <td>
    	<% if can?(:edit,order) %>
	    	<%= link_to 'Edit', edit_order_path(order) %>
    	<% end %>
  	</td>
    <td>
    	<% if can?(:destroy,order) %>
	    	<%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
    	<% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
