<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @order.user.name %>
</p>

<p>
  <b>Dispatch date:</b>
  <%= @order.dispatch_date %>
</p>

<p>
	<table>
		<tr>
			<th>Product Name</th>
			<th>Qunatity</th>
			<th>Rate</th>
			<th>Total</th>
		</tr>
		<% @order.line_items.each do |li| %>
			<tr>
				<td><%= li.product.name %></td>
				<td><%= li.quantity %></td>
				<td><%= li.rate %></td>
				<td><%= li.total %></td>
			</tr>
		<% end %>
	</table>
</p>

<p>
  <b>Total price:</b>
  <%= @order.total_price %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
