<!--

<h2>New Product</h2>
<%= form_for(:product, :url => { :controller => :products, :action => :create }, :html => { :id => "new_product_form" }, :method => "post") do |f| %>	
	<div class="field">
		<%= f.label :name, :style => "color:#f00;" %><br />
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :price, :style => "color:#f00;" %><br />
		<%= f.text_field :price %>
	</div>
	
	<div class="field">
		<%= f.label :description, :style => "color:#f00;" %><br />
		<%= f.text_area :desc %>
	</div>

	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>

-->

<h2>New Product</h2>
<form action="/products" method="post">	

	<div class="field">
		<label>Name</label><br/>
		<input type="text" name="product[name]"/>
	</div>

	<div class="field">
		<label>Price</label><br/>
		<input type="text" name="product[price]"/>
	</div>
	
	<div class="actions">
		<input type="submit" value="Submit"/>
	</div>
	
</form>

