<header class="round">
	<%= link_to(logo, root_path) %>
	<nav>
		Welcome <%= current_user.name rescue "Guest" %> (<%= current_user.role rescue '-' %>) 
		<ul>
			<li><%= link_to("Home",root_path) %></li>
			<% if not current_user %>	
				<li><%= link_to("Sign in", new_user_session_path) %></li>
				<li><%= link_to("Sign up", new_user_registration_path) %></li>
			<% else %>
				<li><%= link_to("Profile",edit_user_registration_path) %></li>
				<li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>
			<% end %>
		</ul>
	</nav>
</header>
